body {
    background-color:#f2f2f2;
    margin: 0;
    font-family: sans-serif;
}

* {
    outline: 1px solid yellow;
}

.header {
    background-color:#2d303a;
    height: 90px;
}

.nav {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.links {
    float: right;
    color: #494e62;
}

.links a {
    color: white;
    text-decoration: none;
}